@import url('https://fonts.googleapis.com/css2?family=Combo&family=Poppins:wght@200&display=swap');

.homeMain{
    height: 100vh;
    width: 100%;
   background-color:azure;
}
.section-1{
    display: flex;
   
    height: 100%;
    width: 80%;
    justify-content: space-between;
    align-items: center;
    padding-left: 90px;
    position: relative;
    /* padding-right: 60px; */
}
.sec-1-img{
    height: 500px;
    object-fit: cover;
    position: relative;
    bottom: 80px;
}
.sec-1-h2{
    font-size: 80px;
    font-family: cursive;
    position: relative;
    margin-top: 100px;
    /* bottom: 90px;
    right: 50px; */
}
.sec-1-right{
    display: flex;
    flex-direction:column ;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 150px;
    right: 150px;
    /* background-color: green; */
}

.sec-1-right h4{
    margin-top: 20px;
    font-family: Combo;
    text-align: center;
    font-size: 20px;
    font-weight: 800;

}
.sec-1-right h3{
    margin-top: 60px;
    font-family: Poppins;
    height: 40px;
    width: 200px;
    background-color: green;
    text-align: center;
    padding-top: 5px;
    border-radius: 5px;
    cursor: pointer;
    color: aliceblue;

}

.home-footer {

    height: 200px;
    background-color: rgb(238, 231, 221);
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: space-evenly;
}

.home-footer ::-webkit-scrollbar {
    display: none;
}
.feedback-btn {
    height: 35px;
    width: 150px;
    border: none;
    background-color: rgb(195, 96, 96);
    border-radius: 5px;
    color: white;
    cursor: pointer;
}
.home-footer textarea {
    border-radius: 10px;
}