.page-wrapper{
    display: grid;
    padding: 40px 20px;
    position: relative;
    
   grid-template-columns: repeat(2, 1fr);
    

}
/* .table2 thead{
    height: 50px;
    background-color: skyblue;
} */

/* .table2 tr{
   height: 120px;
   background-color: skyblue;
} */
.table2 {
    border-collapse:collapse;
    background-color: azure;
}


.table1{

position: relative;

background-color: azure;
border-radius: 20px;
border-collapse: collapse;

}

.table1 thead{
    height: 50px;
    background-color: skyblue;
}
.table2 thead{
height: 50px;
background-color: skyblue;
}
.table1 tbody{
height: 400px;
}
.table2 tbody{
height: 400px;
}

.success{
    align-self: center;
    margin-top: 50px;
    text-align: center;
    grid-column: 1 /span2;
}
