.request-main{
    height: 100vh;
    width: 100%;
    background-color: #555;
    position: relative;
}
.request-inner{
   
    
    position: absolute;
    left: 200px;
    top: 200px;
    
}
.input-text{
   margin-left: 10px;
   height: 40px;
   position:relative;
   bottom: 8px;
   width: 200px;
   border-radius: 5px;

}
.request-btn{
    height: 50px;
    border-radius: 10px;
    font-size: 20px;
    color: #fff;
    background-color: green;
    cursor: pointer;
    border-width: 0px;
}
.request-main h3{
    position: absolute;
    left: 560px;
    margin-top: 30px;
    font-family: cursive;

}
.pair{
    display: flex;
}
.input-text2{
    margin-left: 10px;
   height: 40px;
   position:relative;
   bottom: 8px;
   width: 200px;
   left: 14px;
   border-radius: 5px;
   border-width: 0px;
}
.input-text2::placeholder{
text-align: center;
}
.pay-meth-hed{
    position: relative;
    top: 30px;
    
}
.radio-wrap{
    top:50px ;
    position: relative;
}
.payment-btn{
    height: 35px;
    width: 130px;
    position: relative;
    top: 10px;
    border-radius: 5px;
    color: #fff;
    background-color: green;
    border-width: 0px;
}
.amt-wrap{
    display: flex;
    align-items: center;
}
.amt{
    position: relative;
    margin-left: 10px;
    top: 6px;
}
.card-num{
    height: 30px;
    width: 250px;
    border-radius: 5px;
    position: relative;
    left: 240px;
    top: 5px;
}
.card-enter{
    position: relative;
    top: 30px;
}
.confirm-btn{
    position: relative;
    top: 100px;
    height: 40px;
    width: 200px;
    border-radius: 5px;
    background-color: green;
    color: #fff;
    left: 450px;
    top: 150px;
    cursor: pointer;
}
