@import url('https://fonts.googleapis.com/css2?family=Combo&family=Poppins:wght@200&display=swap');


.request-main{
    height: 100vh;
    background-color:azure;
   
}
/* heading */

.request-main h3{
    position: absolute;
    left: 600px;
    font-family: Poppins;
}
.request-inner{
position: absolute;
/* background-color: green; */
height: 100vh;
width: 100%;
top: 180px;
display: flex;
/* padding: 60px; */
padding-left: 200px;
justify-content: space-between;
padding-right: 50px;
}
/* form styles */
.request-frm{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    /* background-color: red; */
}
.request-frm input{
    margin-bottom: 5px;
    margin-top: 5px;
    height: 35px;
    width: 200px;
    border-width: 1px;
    border-radius: 0px;
   
}
.payment{
    margin-right: 400px;
 /* background-color: green; */
 width: 500px;
 
}
/* see payment  */
.request-inner button{
    height: 35px;
    border-radius: 5px;
    border-width: 0px;
    background-color: green;
    margin-top: 80px;
    cursor: pointer;
    color: aliceblue;
}
