@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Chakra+Petch:wght@300&family=Finlandica:ital,wght@1,400;1,500;1,600;1,700&family=Mulish:wght@200&family=Raleway:wght@100&family=Roboto:ital,wght@1,100&family=Rubik+Maze&family=Shadows+Into+Light&family=Ubuntu:wght@300&display=swap');

.dashboard-wrap{
    background-color: azure;
    height: 100vh;
    width: 100%;
    position: relative;
    display:flex;
    flex-direction: column;

}
.headings{
    height: 70px;
    background-color: azure;
    width: 100%;
  margin-top: 60px;
    top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3000;
    border-style: solid;
    border-top: none;
    border-left: none;
    border-right: none;
    color: rgb(53, 143, 143);
    border-color: #555;
    padding-bottom: 30px;
    
    
}
.headings h4{
   cursor: pointer;
}

.c-requests{
    /* margin-right: 90px; */
position: absolute;
left: 300px;
}
.a-requests{
    right: 300px;
    position: absolute;
}
.details{
    /* background-color: green; */
    /* height: 500px; */
    display: flex;
    flex-direction: column;
    background-color: azure;
    margin-top: 20px;
}
.detail-list{
   
    height: 100px;
    border-bottom: #555;
    border-bottom-style: solid;
    border-width: 1px;
    position: relative;
    padding-top: 5px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 5px;
    /* font-family: Mulish; */
}

.request-btn{
    width: 300px;
    position: relative;
    left: 600px;
    margin-top: 20px;
    height: 50px;
    margin-bottom: 20px;
    background-color: green;
    color: #fff;
    font-size: large;
    
}
.wap-wrap{
    display: flex;
    flex-direction: column;
   gap: 2px;
    margin-right: 270px;
    padding: 2px;
    margin-right: 400px;
    font-family: Aboreto;
}
.wap-wrap h5{
margin: 5px;
}
.pick-status{
    color: green;
}
.link{
    text-decoration: none;
}
.completedpickup-u-span{
    background-color: #000;
    height: 3px;
    width: 130px;
    position: absolute;
    left: 306px;
    top: 67px;
    border-radius: 10px;
}
