.main{
    background-color: azure;
    height: 100vh;
    display: flex;
    
}
.login-form-wrap{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.login-form-wrap input{
    width: 200px;
    margin: 10px;
    height: 35px;
    border-radius: 5px;
    text-align: center;
}
::placeholder{
    text-align: center;
}
.login-form-wrap button{
    height: 40px;
    width: 140px;
    margin-top: 20px;
    border-radius: 5px;
    font-size: 20px;
    background-color: #b0d934;
    color: aliceblue;
    border-width: 0px;
    cursor: pointer;
}
.login-form-wrap button:hover{
    background-color: #046109;
}
.login-form-wrap h3{
    font-size: 50px;
    font-family: cursive;
}
.new-account{
    display: flex;
}
.signup-btn{
    margin-left: 3px;
    cursor: pointer;
    color: #0a4c8a;
}